<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>화장실 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    </head>
<body>
    <form>
        <input type="text" id="inputgu" name="entergu" >
        <input type="text" id="inputdong" name="enterdong" >
        <input type="button" onclick="input()" value="입력">
    </form>

    <table border = "1", id="table">
            <tbody>
                <th>번호</th>
                <th>구</th>
                <th>동</th>
                <th>번지</th>
            </tbody>
            <tbody>
                

            </tbody>
    </table>

</body>

</html>